
.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media screen and (max-width: 768px) {
  .col-sm-2 {
    width: 100%;
    text-align: center;
  }
}

.col-sm-2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

img {
    max-width: 100%;
    height: auto;
}