.first row img{
	height:200;
	width:200;
}

.container-fluid .image-first{
	display:flex;
    gap:10px;
}
.container-fluid .image-second{
	display:flex;
	gap:10px;
}
.container-fluid .image-three{
	display:flex;
	gap:10px;
}
.container-fluid .image-fourth{
	display:flex;
	gap:10px;
}
/* Your CSS Code here. */